*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	display:block;
	/*border:2px solid red;*/
}

@media (max-width:1800px){

	body {
		font-family: 'segoe ui', 'lucida sans unicode', 'lucida grande', lucida, sans-serif;;
		font-size:1.1em;
		text-align:left;

	}

	#content{
		position:relative;
		display:flex;
		flex-direction: column;
		flex-wrap:wrap;
		width:100%;
		background-color:white; 
		border:1px solid #8a6464;
		box-shadow:2px 2px 10px #808080;
		margin-left:auto;
		margin-right:auto;
	}




	header{
		flex: 1 1 auto;

		background:url(Images/feather.jpg) #CFBAC0;

	}

	#header{
		width:auto;
		height:180px;
		background-color:rgba(255,255,255,0.7);
		margin-top:5%;
		margin-bottom:5%;

	}
	#jobOfferWrapper{
		display:none;
	}

	h1{
		color:#4A454C;
		font-size:2.5em;
		margin-bottom:auto;
		margin-top:0;  
	}

	h1+p{
		text-decoration:underline;
		font-style:oblique;
		font-size:1.2em;
		margin-top:2px;
		margin-bottom:0;
	}

	figure{
		width:auto;
		float:left;
		margin:10px 30px 0 20px;
	}

	#heading{
		min-width:265px;
		width:40%;
		height:auto;
		float:left;
	}

	nav ul{
		list-style:none;
		font-weight:bold;
	}

	nav li {
    background-color: #B3B7C5;
    font-size: 0.9em;
    margin-bottom: 2px;
    
}
nav li:last-of-type{
	margin-bottom:0;
}


nav li a{
	width:100%;
	height:100%;
	padding: 5px 6px;
}
nav li>a:hover{
	background-color: #E4E2EA;
}


	nav li:last-of-type:hover{
		background-color: rgb(253, 252, 230);
		border:2px solid #3E5759;
		border-radius:5px;
		box-shadow:2px 2px 5px #3E5759;
	}

	nav a {
		color:#5F3D3D;
		text-decoration:none;
		font-style:oblique;
		

	}
	

	img{
		background-color: white;
		border-radius: 10px;
		box-shadow:2px 2px 4px #707474;
	}


	#middle-section{
		display:flex;
		flex-direction:row;
		margin-top:5px;
	}
	#middle-section nav{
		flex:1 1 10%;	

	}
	section ul li, section ol li{
		display:list-item;
		list-style:initial;
	}
	main{
		flex: 1 1 80%;
		position:relative;
	}
	main section {
		position: absolute;
		top: 0;
		padding: 10px 40px;
		z-index: 1;
		opacity: 0;
		width:100%;
		height:100%;

		/*transition: all linear 0.5s;*/

		transform: translateY(-450px);
	}
	section *{
		display:inline-block;
	}
	section h1, section h2{
		display:block;
	}
	table {
		display:table;
		border-collapse:collapse;
	}
	thead{
		display:table-header-group;
		border-bottom:1px solid black;
	}
	tbody{
		display:table-row-group;
	}
	tr{
		display:table-row;
		border-bottom:1px solid black;


	}
	td, th{
		display:table-cell;
		border-right:1px solid black;
		padding:5px 10px;
	}
	#employment tr td:nth-of-type(2), #employment tr th:nth-of-type(2)
	{
		padding-left:5px;
		min-width:120px;
	}


	section:target {
    transform: translateY(0px);
    z-index: 100;
    opacity: 1;
    background-color: #FFFDF6;
    transition: all ease-out 0.3s;
    border-top:1px solid #DBC98C;
    border-bottom:1px solid #DBC98C;
}


	#profile time{
    font-style:oblique;
}
#skills table{
    
    text-align:left;
}

#skills table tr td:nth-child(2){
    width:20%;
    padding:0;
}

meter { 
    -webkit-appearance: none; 
} 

meter::-webkit-meter-bar{
    width:60px;
    height:20px;
    border-radius:15px;
    border:1px solid gray;
}

meter::-webkit-meter-optimum-value {
    border-radius:25px;
    background: #87C7DE;
    background: linear-gradient(to bottom, black, #65b8d6 );
}

meter::-webkit-meter-even-less-good-value {
    border-radius:25px;
    background: #87C7DE;
    background: linear-gradient(to bottom, black, red );
}

meter::-webkit-meter-suboptimum-value  {
    border-radius:25px;
    background: #87C7DE;
    background: linear-gradient(to bottom, black, green );
}

address li {
    display: inline-block;
    width: 100%;
    padding: 0 0.5em;
    margin:2px 0;
    background-color: #EDF4EB;
    list-style: none;
    border-top:1px solid #55984A;
     border-bottom:1px solid #55984A;
}

address ul{
    overflow:hidden;
}

address li span{
	display:inline-block;
    color:#3D625C;
    font-weight: bold;
    
}

address a {
    text-decoration: none;
    font-weight: bold;
    color: #93193C;
    display: inline-block;
}


footer{
    flex:1 1 auto;
    clear:both;
    text-align: center;
    padding:1em 0;
    background-color:rgba(239, 242, 242, 0.1);
}

small, small time{
	display:inline-block;
}

/*----------Form Hiding-Showing---------*/
#jobOfferWrapper{
    display:table;
    height:0;
    opacity:0;
    width:0;
    position:absolute;
    top:0;
    left:0;
    /*width:100%;*/
    /*height:100%;*/
    transition:height 4s, width 0s, opacity 1s, z-index 1s;
    z-index: -2;
}

#jobOfferWrapper:target{
    height:100%;
    opacity:1;
    width:100%;
    z-index:10;
}

#containerForPost{
    width:100%;
    height:100%;
    display:table-cell;
    vertical-align:middle;
    margin:auto;
}

form#jobOffer{
    display:block;
    position:relative;
    width: 400px;
    height: auto;
    margin:auto;
    overflow:auto;
}

#formClosure{
    display:block;
    margin:auto;
    width:400px;
    height:0;
    z-index:2;
    cursor:default;
    text-align:right;
}

#formClosure::after {
    content: "X";
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 10px;
    left: -5px;
    border: 2px outset white;
    border-radius: 5px;
    color: white;
    background-color: #3E5759;
    width: 20px;
    height: 20px;
    z-index: 4;
}

#formClosure::before{
    content:"";
    display:block;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:#FFFEFD;
    opacity:0.65;
}
form {
    border: 5px outset white;
    border-radius: 20px 20px;
    background-color: #B7C8CD;
    box-shadow: 3px 3px 6px #3D625C;
    padding:10px;
}

input, select, textarea{
    display:block ;
    margin-bottom:10px;
}

input[type="checkbox"], input[type="radio"]{
    display:inline-block;
}

input[type='submit']
{
    margin-top:5px;
    background-color: #3E5759;
    color:white;
}

fieldset#total{
    border:none;
}
fieldset{
	padding: 5px;
}

label{
    display:inline-block;
    margin-bottom:2px;
}

#skillsEnvolved{
    list-style:none;
    padding:2px;
    margin-top: 2px;
    margin-bottom:2px;
}

#skillsEnvolved li{
    display: inline-block;
    float: left;
    width: 50%;
}

.innerLegend{
    font-size: 1.1em;
}

input, textarea, select{
    font-family:inherit;
    font-size:100%;
}

legend{
    font-size:1.3em;
    color:#4A454C;
    font-weight:bold;
}

/*---------End of Form Hiding/Showing----------*/ 




}


