body {
    
    font-family:Academy, 'Times New Roman';
    font-size:1.1em;
    text-align:justify;
    
}
#content{
    width:1024px;
    background-color:#FFFEFD; 
    border:1px solid #8a6464;
    box-shadow:2px 2px 10px #808080;
    margin-left:auto;
    margin-right:auto;
}
h1, h2, h3 {
    letter-spacing:0.05em;

}

h1{
    color:#4A454C;
    font-size:2.5em;
}

#header time{
    color:#4A454C;
    font-size:1.5em;
    font-style:oblique;
}

#profile h2{
    clear:left;
}

h2, legend{
    color:#685D6D;
}
legend{
    font-size:1.3em;
    color:#4A454C;
    font-weight:bold;
}

address li{

    float:left;
    padding:0.3em;
    border-right:1.5px solid #31312F;
    display:inline-block;
    list-style:none;
}
address li span{
    color:#3D625C;
    font-weight: bold;
}

address a{
    text-decoration:none;
    font-weight: bold;
    color:#93193C;
}

header{
    width:35%;
    float:left;
    padding-left:2em;
}

header section {
    width:80%;
}

main{
    padding-left:1em;
    background-color:#CFBAC0;
    float:left;
    width:55%;
    margin:1.2em 1em 2em;
    border-radius: 30px ;
    line-height:1.6em;
    box-shadow: 5px 5px 10px #955D64;
}


section {
    font-size:1.2em;
}

footer{
    clear:both;
}

table{
    border-collapse:collapse;
    background-color: #A78B93       ;
}

col[span]{
    width:78%;
    border-right:2px solid #31312F;
}

td{
    padding:0.3em 1em;
    border-bottom:2px solid #31312F;
    border-top:2px solid #31312F;
}

 

 img{
    background-color: white;
     border-radius: 10px;
     box-shadow:2px 2px 4px #955D64;
 }

 summary span{
     display:block;
     font-size:0.8em;
     font-style:italic;
 }

 summary{
     outline:none;
 }
 input, textarea{
    display:block;
 }
 input[type='submit']
 {
    margin-top:5px;
    background-color: #5B8351;
    color:white;

 }
 fieldset{
    background-color: #CBD9C7;
    border-radius: 20px;
    border:none;
    box-shadow: 3px 3px 6px #3D625C;
 }
 

